.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-family: 'Courier New', Courier, monospace;
  width: 95%;
}

.toolbar input[type="file"] {
  margin-left: 10px;
}

.svg-canvas-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.svg-canvas {
  flex: 1;
  object-fit: contain;
  max-height: 50vh;
  max-width: 50vh;
}

.svg-canvas svg {
  max-height: 50vh;
  max-width: 50vh;
}

.attributes-panel {
  padding: 10px;
  flex: 0 0 300px;
  margin-left: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .svg-canvas-container {
    flex-direction: column;
  }

  .svg-canvas {
    max-height: 90vh;
    max-width: 90vh;
  }
  
  .svg-canvas svg {
    min-height: 300px;
    max-height: 90vh;
    max-width: 90vh;
  }
  
  .attributes-panel {
    margin-left: 0;
    margin-top: 20px;
    flex: 1;
    max-height: none;
  }

  button {
    min-width: 60px;
    min-height: 30px;
  }

  table {
    width: 100%;
  }

}

/* For very small screens */
@media (max-width: 480px) {
  
  table {
    font-size: 14px;
  }

  .svg-canvas {
    max-height: 90vh;
    max-width: 90vh;
  }
  
  .svg-canvas svg {
    min-height: 300px;
    max-height: 90vh;
    max-width: 90vh;
  }

  button {
    min-width: 60px;
    min-height: 30px;
  }

  table {
    width: 100%;
  }

}

.svg-element {
  cursor: pointer;
  transition: stroke 0.2s ease;
}

.svg-element:hover {
  stroke: gray;
  stroke-width: 2;
}

.svg-element.selected {
  stroke: blue;
  stroke-width: 3;
}

.properties-panel {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.properties-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.panel-container {
  position: relative;
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  flex-basis: 300px;
}

.panel-heading {
  font-size: 1.5rem;
  color: #333;
}

.panel-form-groups {
  margin-bottom: 15px;
}

.panel-form-groups input[type="text"] {
  width: 90%;
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
};

